
<html>
<head>
  <link rel="stylesheet" href="../build/styles/commons.css">
  <link rel="stylesheet" href="../build/styles/arraycardio.css">
</head>
<body>
  <div id="array-cardio" class="page bg-navyblue">
    <h1 class="page-title">
      Array Cardio
    </h1>
    <div class="input-text">
      <label for="text">Enter text:</label>
      <input type="text" name="text">
    </div>
    <div class="flex-container array-cardio--controls">

      <button class="filter">
        filter
      </button>
      <button class="reduce">
        reduce
      </button>
      <button class="sort">
        sort
      </button>
    </div>
    <div class="inventors">
      <h3>Inventors Array</h3>
      <table>

      </table>
      <p></p>
    </div>
  </div>
  <script src="../build/commons.js"></script>
  <script src="../build/arraycardio.js"></script>
</body>
</html>