<html>
<head>
  <link rel="stylesheet" href="../build/styles/commons.css">
  <link rel="stylesheet" href="../build/styles/clock.css">
</head>
<body>
  <div id="clock" class="page bg-navyblue">
    <h1 class="page-title">JS CLOCK</h1>
    <div class="clock-frame">
      <div class="clock-face">
        <div class="hand hour"></div>
        <div class="hand minute"></div>
        <div class="hand second"></div>
      </div>
    </div>
  </div>

  <script src="../build/commons.js"></script>
  <script src="../build/clock.js"></script>
</body>
</html>