<html lang="en">
<head>
  <link rel="stylesheet" href="../build/styles/commons.css">
  <link rel="stylesheet" href="../build/styles/flexpanel.css">
</head>
<body>
  <div id="flex-panel" class="page bg-navyblue">
    <div class="panel web">
      <div class="overlay">
        <h3>web</h3>
      </div>
    </div>
    <div class="panel css">
      <div class="overlay">
        <h3>css</h3>
      </div>
    </div>
    <div class="panel idea">
      <div class="overlay">
        <h1 class="page-title">
          the flex panel
        </h1>
      </div>
    </div>
    <div class="panel html">
      <div class="overlay">
        <h3>
          html
        </h3>
      </div>
    </div>
    <div class="panel js">
      <div class="overlay">
        <h3>js</h3>
      </div>
    </div>
  </div>
  <script src="../build/commons.js"></script>
  <script src="../build/flexpanel.js"></script>
</body>
</html>