<html lang="en">
<head>
  <link rel="stylesheet" href="../build/styles/commons.css">
  <link rel="stylesheet" href="../build/styles/typeahead.css">
</head>
<body>
  <div id="type-ahead" class="page bg-navyblue">
    <h1 class="page-title">
      type ahead
    </h1>
    <form class="serach-form">
      <input type="text" class="search" placeholder="City or State" />
      <ul class="suggestions">
        <li>Filter for city</li>
        <li>or a state</li>
      </ul>
    </form>
  </div>
  <script src="../build/commons.js"></script>
  <script src="../build/typeahead.js"></script>
</body>
</html>