@import 'variables';

h1 {
  font-size: 2rem;
  color: red;
}

h3 {
  color: $WHITE;
}

#drumkit {
  background-color: $NAVY_BLUE;
  padding: 1rem;
  .page-title {
    margin-bottom: 2rem;
  }
  .key {
    border: .4rem solid $BLACK;
    border-radius: .5rem;
    padding: 1rem .5rem;
    margin: .5rem;
    background: rgba(0,0,0,0.3);
    font-size: 1.5rem;
    color: $WHITE;transition: all .07s ease;
    cursor: pointer;
    transition: all .07s ease;
    user-select: none;
  }
  span.sound {
    font-size: 1.2rem;
    color: $ORANGE;
    text-transform: uppercase;
    letter-spacing: .1rem;
  }
  .playing {
    transform: scale(1.1);
    border-color: $ORANGE;
    box-shadow: 0 0 1rem $ORANGE;
  }
}