/* 
 SASS VARIABLES
*/
$BLACK: #000000;
$BLUE: #1D78C1;
$LIGHT_BLUE: #198FD2;
$NAVY_BLUE: #161C2B;
$ORANGE: #FF6600;
$ORANGE_RED: #FF4500;
$RED: #FF0000;
$TRANSPARENT_BLACK: rgba($color:  $BLACK, $alpha: 0.5);
$WHITE: #FFFFFF;
$YELLOW: #F7DF1E;


$FACEBOOK: #3B5998;
$HTML5: #E34F26;
$REACT: #00d8FF;
$NODE_DARK: #215732;
$NODE_LIGHT: #44883E;



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

